@font-face {
  font-family: "Futura";
  src: url("https://leithlate2020.github.io/Fonts/futura-pt-book.otf") format("opentype");
}

body {
  font-family: "Futura", sans-serif;
  font-size: 16px;
}

.intro {
  margin: auto;
  text-align: center;
}

.logo_container {
    width:100%;
    text-align:center;
}

.logo_left {
  float: left;
  width:100px;
}

.logo_text {
  display: inline-block;
  margin:0 auto;
}

.logo_right {
  float: right;
  width:280px;
}

.logo_left img {
  height: 80px;
}

.logo_right img {
  height: 80px;
}

#mapid {
  width: 462px;
  height: 558px;
  float: left;
  z-index: 1;
  position: relative;
}

.sidebar {
  height: 558px;
  background-color: white;
  padding: 0px;
  margin-left: 462px;
}

.name {
  padding: 10px;
}

.text {
  padding: 10px;
}

.media {
  padding: 10px;
  height: 120px;
}

.artists {
  padding: 10px;
}

.toggle{
  display:inline-block;
  height:30px;
  width:30px;  
  background:url("../Images/plus-sign_reduced.png");
  vertical-align: middle;
  float: left;
}
.toggle.expanded{
  background:url("../Images/minus-sign_reduced.png");
}

img.artist {
  width: 50px;
  padding-right: 5px;
  padding-bottom: 5px;
   padding-top: 5px;
}

.artist_name {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

.artist_balloons {
  width: 60px;
  height: 120px;
  float: left;
  margin-left: -60px;
  z-index: 2;
  position: relative;
}

.content {
  font-size: 14px;
}

audio { 
  height: 25px;
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
}

/*overriding Leaflet CSS*/
.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
    background:#2c3e50;
  }

/*overriding Bootstrap CSS*/
.jumbotron {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
}

.jumbotron p {
  font-size: 16px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}



